
*.qgs~
Layer/Buildings_Rotterdamcut3.cpg
Layer/Buildings_Rotterdamcut3.cpg
Layer/Buildings_Rotterdamcut3.prj
Layer/Buildings_Rotterdamcut3.cpg
Layer/Buildings_Rotterdamcut3.cpg
Layer/Buildings_Rotterdamcut3.prj
Layer/Buildings_Rotterdamcut3.qpj
Layer/Buildings_Rotterdamcut4.cpg
Layer/Buildings_Rotterdamcut4.prj
*.qpj
Qgis_project/Buildings_Rotterdamcut3.cpg
Qgis_project/Buildings_Rotterdamcut3.qpj
Qgis_project/Buildings_Rotterdamcut3.prj
